<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> <%= title %> </title>
        <link rel="stylesheet" href="./style.css">
        <link rel="stylesheet" href="./posts.css">
    </head>
    <body>
        <div class="container">
       
            <header>
                <div class="headCont">
                    <%- include('headerFooter/headerSignedIn') %>
                </div>
            </header>
            <main class="postsMain" id="postsMain" aria-labelledby='postsMain'>
                
                
                <div class="message-Container">
                    <% messages.forEach(message => { %>

                        <div class="messageCard">

                            <div class="global">
                                <div class="messageTitle"> <%= message.title  %> </div>
                                <div class="messagePost"> <%= message.message %> </div>
                            </div>

                        </div>
                    <% }); %>
                </div>
                <p class="createButt"> <a href="/pubPosts/join-club"> 
                    Click here to join! </a> </p>
                
            </main>
            
            <%- include('headerFooter/footer') %>

        </div>
    </body>
</html>